
h2 {
    text-align: center;
    color: rgb(75, 80, 64);
    margin-bottom:4%;
    margin-top: 10%;
}

.navbar {
    margin-bottom: 50px;  
    background-color: rgba(95, 103, 78, 0.954);
}

.jumbotron {
    background-image: url("images/Free-Gradient-Wallpaper.jpg");
}

.form-group {
    padding: 1px 1pc 0px 13px;
    width: 50%;
    margin: 0 auto;
    width:80%;
    margin-top: 6%;
    
    
    
}

.form-check{
    padding: 1px 6pc 5px 50px;
    margin-left: 44%;
    
  

}

.btn {
    
    background-image: url("images/Free-Gradient-Wallpaper.jpg");
    margin: 0 auto;
    
    
}

#dd{
  text-align: center;  
  margin-top: 33px;
  margin-left: 47%;
  margin-bottom: 33px;
  padding: 12px 22px 13px 18px;
}

.card {
    margin-top: 6%;
    background-image: url("images/Free-Gradient-Wallpaper.jpg");
    padding: 0px 1px 1px 1px;
    margin-left: 30px !important;
    margin-right: 30px !important;
   
}

#store {
    margin-left: 30% !important;
    width: 33%;
    
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }